################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BankApp/.vs
/BankApp/BankApp/obj
/BankApp/BankApp/bin
/BankApp/BankApp/Properties/PublishProfiles
